/* adaptar la imagen a la anchura de la pantalla */
img {
    max-width: 100%;

}


/* Letras centrales de uGeek */

#ugeek {
  position: absolute;
  font-size: 2.00em;
  top: 1.30em; }

@media all and (min-width: 1000px){
    #ugeek { left: 42%; } }



body {
    font-family: "Lato";
    font-size: 19px; , Lato; }

@media all and (min-width: 1000px){
    body {
        max-width: 80%;
        margin: auto; } }

@media all and (max-width: 1000px){
    body { margin: 1em; } }


#logo img {
  border-radius: 10px;
  border-color: white;
  position: absolute;
  font-size: 1.50em;
  top: 1.00em; }


@media all and (min-width: 1000px){
    #logo { left: 10%; } }

@media all and (max-width: 1000px){
    #logo { left: 10%; } }



@media all and (min-width: 1000px){
    #me { left: 10%; } }

@media all and (max-width: 1000px){
    #me { left: 1em; } }




 /* Artículos Podcast Tags */

#menu {
  position: absolute;
  font-size: 1.200em;
  top: 7.525em; }

@media all and (min-width: 1000px){
    #menu { left: 10%; } }

@media all and (max-width: 1000px){
    #menu { left: 1em; } }


#name {
  position: absolute;
  top: 1.50em; }

@media all and (min-width: 1000px){
    #name { right: 10%; } }

@media all and (max-width: 1000px){
    #name { right: 1em; } }



@media all and (min-width: 1000px){
    #icon { right: 10%; } }

@media all and (max-width: 1000px){
    #icon { right: 1em; } }



.title {
  text-align: left;
  margin-left: 10px;
  border-bottom-style: solid;
  border-bottom-color: lightgray; }

#table-of-contents {
  margin-left: 10px; }
  #table-of-contents h2 {
      margin-left: 20px;
      display: none; }
  #table-of-contents ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; }

#outline-container-orgheadline2 li {
  margin: 1em;
  list-style-type: none; }


h1 {
	color: #3c1b66;
        
	font-weight: normal;
	font-size:   32px;
	font-family: Arial;
	text-transform: uppercase;
	border-bottom-style: solid;
        border-bottom-color: lightgray;
}
h2 {
	color: #6c2eb9;
	font-weight: normal;
	font-size: 30px;
	font-family: Arial;
	border-bottom-style: solid;
        border-bottom-color: lightgray;
}
h3 {
	color: #443963;
	font-weight: normal;
	font-size: 25px;
	font-family: Arial;
	border-bottom-style: solid;
	border-bottom-color: lightgray;
}
h4 {
	color: #4f4866;
	font-weight: normal;
	font-size: 20px;
	font-family: Arial;
	border-bottom-style: solid;
	border-bottom-color: lightgray;
}
h5 {
	color: #656172;
	font-weight: normal;
	font-size: 18px;
	font-family: Arial;
	border-bottom-style: solid;
	border-bottom-color: lightgray;
}
h6 {
	color: #747377;
	font-weight: normal;
	font-size: 18px;
	font-family: Arial;
	border-bottom-style: solid;
	border-bottom-color: lightgray;
}

a {
  text-decoration: none;
  color: #4a708b; }

a:hover {
  text-decoration: underline; }

.img-link a {
    color: white; }

blockquote {
  border-left: 1px solid gray;
  padding-left: 4px; }

#doc-info {
  margin-top: 3em;
  margin: auto;
  float: center;
  text-align: center;
  font-size: 8pt;
  max-width: 75%; }



code {
    background-color: #f3e8fb;
    border: 0px solid #a8a9ba;
    color: #000000;
    font-family: monospace;
    /* font-size: 0.93em; */
    margin: 25px 0px;
    padding: 0px 2px; }




pre {
    background-color: #f3e8fb;
    border: 1px solid #a8a9ba;
    color: #000000;
    font-family: monospace;
    line-height: 1.14em;
    overflow: auto;
    /* overflow-x: auto; */
    padding: 10px;
    margin: 25px 1px; }
















table th {
    font:bold 15px Arial;
    background-color:#a4a5a5;
    text-indent: 10px;
    color : black;
}



table {
    width:70%;
    font:normal 15px Verdana;
    text-align:center;
    border-collapse:collapse;
}



/*table.negative td[negative^="-"] {color:red;}
 td.negative { color : red; } */


table, th, td {
    border: 1px solid black;
    margin: auto;
 }





/* Una fila de cada color */

tr:nth-child(odd) {
   
    background-color:#f2f2f2;
	
}
	
tr:nth-child(even) {
	
    background-color:#d9dcde;
	
}

/* Cambiar de color al  pasar el ratón por las filas */

tr:hover {
background-color: #abb9b0;
}









#icon {
  position: absolute;
  font-size: 0.8625em;
  top: 6.125em; }

